<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>C44_marmot</display-name>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAccountServlet</display-name>
		<servlet-name>DeleteAccountServlet</servlet-name>
		<servlet-class>servlet.DeleteAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteFieldServlet</display-name>
		<servlet-name>DeleteFieldServlet</servlet-name>
		<servlet-class>servlet.DeleteFieldServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditAccountServlet</display-name>
		<servlet-name>EditAccountServlet</servlet-name>
		<servlet-class>servlet.EditAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Main1</display-name>
		<servlet-name>Main1</servlet-name>
		<servlet-class>servlet.Main1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyPageServlet</display-name>
		<servlet-name>MyPageServlet</servlet-name>
		<servlet-class>servlet.MyPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>servlet.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAccountServlet</servlet-name>
		<url-pattern>/DeleteAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFieldServlet</servlet-name>
		<url-pattern>/DeleteFieldServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditAccountServlet</servlet-name>
		<url-pattern>/EditAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main1</servlet-name>
		<url-pattern>/Main1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyPageServlet</servlet-name>
		<url-pattern>/MyPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
